"""
This file is created by config_launch.py before ros2 launch
is run.
"""

import os
from ament_index_python.packages import get_package_share_directory
from launch import LaunchDescription
from launch_ros.actions import Node

def generate_launch_description():
    base_params = os.path.join(
        get_package_share_directory('roboquest_core'),
        'config',
        'roboquest_base.yaml'
    )
    csi_camera_params = os.path.join(
        get_package_share_directory('roboquest_core'),
        'config',
        'csi_camera.yaml'
    )
    usb_camera_params_A = os.path.join(
        get_package_share_directory('roboquest_core'),
        'config',
        'usb_camera_A.yaml'
    )
    usb_camera_params_B = os.path.join(
        get_package_share_directory('roboquest_core'),
        'config',
        'usb_camera_B.yaml'
    )
    usb_camera_params_C = os.path.join(
        get_package_share_directory('roboquest_core'),
        'config',
        'usb_camera_C.yaml'
    )

    rq_base_node = Node(
        name='rq_base_node',
        package="roboquest_core",
        executable="roboquest_base_node.py",
        parameters=[base_params],
        respawn=True,
        respawn_delay=5
    )

    csi_camera_node = Node(
        name='csi_camera_node',
        package="camera_ros",
        executable="camera_node",
        parameters=[csi_camera_params],
        respawn=True,
        respawn_delay=15
    )

    usb_camera_node_A = Node(
        name='usb_camera_node_A',
        package="usb_cam",
        executable="usb_cam_node_exe",
        parameters=[usb_camera_params_A],
        remappings=[
            ('/image_raw', '/usb_A_raw'),
        ],
        respawn=True,
        respawn_delay=15
    )

    usb_camera_node_B = Node(
        name='usb_camera_node_B',
        package="usb_cam",
        executable="usb_cam_node_exe",
        parameters=[usb_camera_params_B],
        remappings=[
            ('/image_raw', '/usb_B_raw'),
        ],
        respawn=True,
        respawn_delay=15
    )

    usb_camera_node_C = Node(
        name='usb_camera_node_C',
        package="usb_cam",
        executable="usb_cam_node_exe",
        parameters=[usb_camera_params_C],
        remappings=[
            ('/image_raw', '/usb_C_raw'),
        ],
        respawn=True,
        respawn_delay=15
    )

    return LaunchDescription([rq_base_node%CAMERA_NODES%])
